<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<title th:text=${title}></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/css/forms.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<nav>
		<div th:insert="fragments/menu">
		</div>
	</nav>
	<div class="div1">
		<h1 th:text=${title}></h1>
	</div>
	<form action="#" th:action="@{/administracion/enfermedades/guardar}" th:object="${disease}" method="post">
		<div class="div1">
			<div th:if="${err}!= null">
				<p th:text=${err}></p>
			</div>
		</div>
		<!-- OCULTOS -->
        <input type="hidden" id="oldDiseaseName" name="oldDiseaseName" th:value="${oldDiseaseName}"/>
		<div class="div2" style="float: left; width: 20%; margin: 0% 0% 0% 10%">
			<label class="col-form-label-sm" for="nombre">Nombre</label>
           	<input th:field="*{diseaseName}" th:title="diseaseName"
           	class="form-control form-control-sm" 
           	id="diseaseName" type="text" required autofocus>
		</div>
		<div style="float: left; width: 100%">
			<div class="divbutton">
				<button type="submit" class="myButton">Guardar</button>
			</div>
		</div>
	</form>

</body>
</html>